!.vs/CMakeWorkspaceSettings.json
.vs/
.vscode/
out/
native/out
!native/build/.empty
native/build
dotnet/WrapperBindings/bin/
dotnet/WrapperBindings/obj/Debug
dotnet/WrapperBindings/obj/Release